/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&family=Pacifico&family=Roboto:wght@100..900&display=swap');

/* Styles for the Modal Pop-up project */
:root {
    --primary-color: #5A7DFF;
    --secondary-color: #343A40;
    --tertiary-color: #F0F0F0;
    --bg-color: #212529;
    --font-main: Inter;
    --text-color: #65756B;
    --border-radius: 10px;
    --border-shadow: 0 4px 26px 0 rgba(0, 0, 0, 0.35);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    background-color: var(--bg-color);
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

main {
    
}