@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&family=Pacifico&family=Roboto:wght@100..900&display=swap');
@import '@flaticon/uicons/css/uicons-regular-rounded.css';

:root {
    --bg-color: #3A3A65;
    --nav-color: #2E2E47;
    --primary-text-color: #fff;
    --secondary-text-color: #D3D3D3;
    --tertiary-text-color: #2F2F2F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    font-family: Inter;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--primary-text-color);
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

i {
    font-size: 1.75rem;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

/* 
===============
Navigation Bar
=============== 
*/

.side-nav-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 17.875rem;
    justify-content: center;
    padding: 1.1875rem 1.5625rem;
    background: var(--nav-color);
    box-shadow: 
        -0.5rem 0 6.25rem .4375rem rgba(0, 0, 0, 0.35) inset,
        .3125rem 0 .625rem .0625rem rgba(0, 0, 0, 0.35);
}

.side-bar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}