@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&family=Pacifico&family=Roboto:wght@100..900&display=swap");
@import "@flaticon/uicons/css/uicons-regular-rounded.css";

:root {
    --bg-color: #3a3a65;
    --nav-color: #2e2e47;
    --primary-text-color: #fff;
    --secondary-text-color: #d3d3d3;
    --tertiary-text-color: #2f2f2f;
    --nav-link-color: #4D4D91;
    --active-link-color: #4141B4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    font-family: Inter;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--primary-text-color);
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

i {
    display: flex;
    font-size: 1.55rem;
    align-items: center;
    justify-content: center;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

/* 
===============
Navigation Bar
=============== 
*/

.side-nav-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    max-width: 17.875rem;
    justify-content: center;
    padding: 2.1875rem 1.1625rem;
    background: var(--nav-color);
    box-shadow:
        -0.5rem 0 6.25rem 0.4375rem rgba(0, 0, 0, 0.35) inset,
        0.3125rem 0 0.625rem 0.0625rem rgba(0, 0, 0, 0.35);
}

.side-bar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Containers */
.close-button-container,
.user-info-container,
.nav-container,
.logout-button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.close-button-container button {
    background: transparent;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 3.125rem;
    margin-left: auto;
}

.close-button-container button i {
    color: var(--primary-text-color);
}

#open {
    display: none;
}

/* User Info */
.user-info-container {
    margin-bottom: 5.6875rem;
}

.user-container {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 1.275rem;
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1.75rem;
}

.profile-wrapper {
    width: 4.25rem;
    height: 4.25rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0.2875rem 0.3125rem 0.0625rem rgba(0, 0, 0, 23.35);
}

.profile-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    align-items: start;
    justify-content: center;
    height: 100%;
}

.user-wrapper strong {
    font-size: 1.1rem;
    font-weight: 900;
}

.user-wrapper span {
    font-weight: 0.7rem;
    font-weight: 400;
    color: var(--secondary-text-color);
}

.nav-container {
    gap: 0.9625rem;
    align-items: start;
}

.nav-link {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: .75rem 1.5rem;
    width: 100%;
    border-radius: .8125rem;
    background: var(--nav-link-color);
}

.nav-link.active {
    background: var(--active-link-color);
}

.nav-link span {
    font-size: 1rem;
    font-weight: 600;
}

.logout-button-container {
    margin-top: auto;
}

.logout-button {
    display: flex;
    align-items: center;
    color: var(--tertiary-text-color);
    gap: 0.625rem;
    border-radius: 0.8125rem;
    padding: 0.5rem 1.375rem;
}

.logout-button span {
    font-size: 1.05rem;
    font-weight: 700;
}

/* 
===============
Navigation Bar ACTIVE
=============== 
*/

.side-nav-bar.active {
    max-width: 4rem;
    padding: 1.2rem 0.4rem;
}