@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&family=Pacifico&family=Roboto:wght@100..900&display=swap");

:root {
    --bg-color: #212529;
    --box-color: #343A40;
    --primary-text-color: #000000;
    --number-color: #FFFFFF;
    --operator-color: #FFD83A;
    --delete-color: #FF6363;
    --sum-color: #66DA00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body {
    min-height: calc(100vh - 9.25rem);
    background: var(--bg-color);
    color: var(--primary-text-color);
}

button {
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

button:active {
    opacity: 1;
}

input {
    border: none;
    text-align: right;
    color: #fff;
    background: none;
    outline: none;
}

input::placeholder {
    color: #fff;
}

.calc-wrapper {
    margin-top: 8.375rem;
}

.calculator {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    max-width: 32.0625rem;
    padding: 2.125rem 1.9375rem;
    gap: .625rem;
    border-radius: .625rem;
    box-shadow: 0 1.5625rem 3.1563rem 0 rgba(0, 0, 0, 0.30);
    background-color: var(--box-color);
}

.calc-io {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.875rem;
    gap: 1.5625rem;
}

.calc-io input {
    width: 100%;
}

#inputBox {
    font-size: 1.5rem;
    font-weight: 400;
}

#outputBox {
    font-size: 2.5rem;
    font-weight: 600;
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .3125rem;
    width: 100%;
    min-height: auto;
}

.calc-buttons button:last-child {
    grid-column: span 2;
}

.calc-buttons button {
    border-radius: .3125rem;
    padding: 1.0625rem 3rem;
    box-shadow: 0 .1875rem .3125rem 0 rgba(0, 0, 0, 0.30);
}

.number {
    background: var(--number-color);
}

.operator {
    background: var(--operator-color);
}

.delete {
    background: var(--delete-color);
}

.sum {
    background: var(--sum-color);
}