/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&family=Pacifico&family=Roboto:wght@100..900&display=swap');


/* Styles for the Clock project */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body {
    background-color: #F4FDFF;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.main-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 70px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clock {
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    background: #F0F7FF;
    box-shadow: 0 8px 30.5px 0 rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    padding: 2rem;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.dot,
.hand{
    position: absolute;
    top: 50%;
    background-color: #3C3C3C;
}

.dot {
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.hand {
    right: 50%; 
    width: 15rem;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    background-color: #3C3C3C;
    border-radius: 20px;
}

.hand-second {
    height: 3px;
}

.hand-minute {
    height: 5px;
}

.hand-hour {
    height: 7px;
}

.time-boxes {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box {
    width: 18rem;
    height: 12rem;
    background-color: #F0F7FF;
    box-shadow: 0 8px 30.5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 41px;
}

.box h3 {
    color: #000;
    text-align: center;
    text-shadow: 0 4px 9.2px rgba(0, 0, 0, 0.35);
    font-size: 48px;
    font-weight: 300;
}

.box p {
    color: #000;
    text-align: center;
    text-shadow: 0 4px 9.2px rgba(0, 0, 0, 0.35);
    font-size: 16px;
    font-weight: 300;
}