/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&family=Pacifico&family=Roboto:wght@100..900&display=swap');

/* Styles for the Modal Pop-up project */
:root {
    --primary-color: #826FFF;
    --secondary-color: #FFF;
    --font-main: Inter;
    --text-color: #000;
    --border-radius: 20px;
    --border-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.75);
    --buttons-shadow: 0 6px 10.5px 0.5px rgba(130, 111, 255, 0.308);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body {
    background-color: var(--primary-color);
    height: 100vh;
    width: 100vw;
    align-items: center;
}

main {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    margin-top: 200px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subscription {
    width: 651px;
    height: 436px;
    padding: 24px 26px;
    border-radius: var(--border-radius);
    background: var(--secondary-color);
    box-shadow: var(--border-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 19px;
}

header,
.modal header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header h1,
.modal header h1 {
    font-family: var(--font-main);
    color: var(--text-color);
    font-weight: 500;
    font-size: 36px;
    line-height: auto;   
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 10,
    'wght' 400,
    'GRAD' 0,
    'opsz' 100
}

header button,
.modal header button {
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

header button:hover,
.modal header button:hover {
    transform: scale(1.2);
    text-shadow: 0 4px 9.2px rgba(0, 0, 0, 0.35);
}

header button:active,
.modal header button:active {
    transform: scale(1);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.content p {
    font-family: var(--font-main);
    color: var(--text-color);
    font-weight: 300;
    font-size: 19px;
    line-height: auto;
}

.input-group {
    position: relative;
    width: 100%;
}

.input-group input {
    width: 100%;
    height: 64px;
    border-radius: 8px;
    border: 1px solid #8d8d8d;
    padding: 20px 23px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.input-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 23px;
    font-family: var(--font-main);
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: 300;
    font-size: 17px;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.input-group input:focus {
    box-shadow: var(--buttons-shadow);
    border-color: var(--primary-color);
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -1px;
    font-size: 13px;
    color: var(--primary-color);
}

.content .subscribebtn {
    width: 100%;
    height: 64px;
    border-radius: 8px;
    border: none;
    color: #FFF;
    background-color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.content .subscribebtn:hover {
    transform: scale(1.02);
    box-shadow: var(--buttons-shadow);
}

.content .subscribebtn:active {
    transform: scale(1);
}

.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    display: none;
    opacity: 0;
    width: 651px;
    height: 312px;
    padding: 24px 26px;
    background-color: var(--secondary-color);
    gap: 19px;
    border-radius: var(--border-radius);
    box-shadow: var(--border-shadow);
}

.modal-buttons {
    display: flex;
    width: 395px;
    height: 64px;
    gap: 27px;
    align-self: flex-end;
    justify-content: center;
}

.modal-buttons button {
    width: 184px;
    height: 64;
    padding: 20px;
    border-radius: 8px;
    gap: 10px;
    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 300px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.modal-buttons .cancelbtn {
    background-color: #ECE8FF;
    color: var(--primary-color);
}

.modal-buttons .sharebtn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.modal-buttons button:hover {
    transform: scale(1.02);
    box-shadow: var(--buttons-shadow);
}

.modal-buttons button:active {
    transform: scale(1);
}