/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&family=Pacifico&family=Roboto:wght@100..900&display=swap');

/* Styles for the Image Slider project */
:root {
    --bg-color: #0E1217;
    --text-color: #000;
    --paggination-dot: #002a5e;
    --paggination-dot-active: #00469b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 150px 20px 150px;
}

.slide-show-container {
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    gap: 20px;
}

.slide-item {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 18px;
    width: 641px;
    height: 481px;
    flex-direction: column;
    border-radius: 20px;
}

.slide-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}