/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:opsz,wght@14..32,100..900&family=Lilita+One&family=Pacifico&family=Roboto:wght@100..900&display=swap');

/* Styles for the Image Slider project */
:root {
    --bg-color: #0E1217;
    --text-color: #fff;
    --paggination-dot: #002a5e;
    --paggination-dot-active: #00469b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    background: var(--bg-color);
    color: var(--text-color);
    min-height: calc(100vh - 9.125rem);
}

li {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

img {
    pointer-events: none;
    -webkit-user-drag: none;
    user-select: none;
}

main {
    display: flex;
    margin-top: 9.125rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.slide-show-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 68.75rem;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1.25rem;
    border: solid 1.25 transparent;
    transition: border 0.3s ease;
}

.slider {
    display: flex;
    transition: transform 0.4s ease-in-out;
    border-radius: 1.25rem;
}

.items {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    height: 40rem;
    border-radius: 1.25rem;
}

.items:hover img {
    transform: scale(1.1);
}

.slide-show-container:hover {
    border: solid .125rem #fff;
}

.items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.25rem;
    transition: transform 0.3s ease;
}

.items span {
    position: absolute;
    display: flex;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    font-size: 4.25rem;
    font-weight: 900;
    text-shadow: 0 .625rem .625rem rgba(0, 0, 0, 0.65);
}

.prev,
.next {
    position: absolute;
    top: 50%;
    border-radius: 50%;
    padding: .625rem;
    box-shadow: 0 .625rem .9375rem 0 rgba(0, 0, 0, 0.35);
    transition: opacity 0.2s ease;
    z-index: 10;
}

.prev {
    left: 3.125rem;
}

.next {
    right: 3.125rem;
}

.prev:hover,
.next:hover {
    opacity: 0.8;
}